<p id="notice"><%= notice %></p>

<div id="article" data-article-id=<%= @article.id %>>
  <h1 class="mt-4"><%= @article.title %></h1>

  <hr>

  <!-- Date/Time -->
  <p>
    Posted on <%= @article.created_at.to_s(:rfc822) %>
  </p>

  <hr>

  <!-- Preview Image -->
  <%= image_tag @article.image_url, class: "img-fluid rounded", style: "width: 100%" %>

  <hr>

  <!-- Post Content -->
  <%= simple_format @article.text %>

  <hr>

  <!-- Comments Form -->
  <comment-box></comment-box>


  <!-- Single Comment -->
  <article-comments></article-comments>
</div>
