<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "apps/footer/index" %>
    <%= javascript_pack_tag "apps/about_page/index" %>
    <%= javascript_pack_tag "apps/latest_comments/index" %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <main class="container" role="main">
      <div class="row">
        <div class="col-md-8 my-4">
          <%= yield %>
        </div>

        <div class="col-md-4">
          <div id="latest-comments"></div>
        </div>
      </div><!-- /.row -->

    </main><!-- /.container -->

    <div id="footer"></div>
  </body>
</html>
